In [11]:
from pymongo import MongoClient
import pandas as pd
import re
import folium

In [12]:
def connectCollection(database, collection):
    client = MongoClient()
    db = client[database]
    coll = db[collection]
    return db, coll

In [13]:
db, coll = connectCollection('companies','companies')
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'companies')

In [14]:
interesting_companies = list(coll.find({"$and":
                                        [{"founded_year":{"$gte":2009}},
                                        {"deadpooled_year":None}]}))

print(len(interesting_companies))

792

In [23]:
interesting_companies = list(coll.find({"$and":
                                        [{"founded_year":{"$gte":2009}},
                                        {"deadpooled_year":None},
                                        {"total_money_raised":{"$exists": True,"$ne":"$0"}},
                                        {"offices.latitude": {"$exists": True, "$ne": None}},
                                        {"offices.longitude": {"$exists": True, "$ne": None}},
                                        {"$or":
                                        [{"category_code":"web"},
                                        {"category_code":"mobile"},
                                        {"category_code":"finance"},
                                        {"category_code":"games_video"},
                                        {"category_code":"analytics"},
                                        {"category_code": "software"}]}]},
                                      {"name":1,"founded_year": 1, "offices.latitude":1,
                                       "offices.longitude":1, "category_code":1, "location":1, 
                                       "offices":1,"total_money_raised":1}))
                                      
interesting_companies

[{'_id': ObjectId('52cdef7c4bab8bd675297f9e'),
  'name': 'GENWI',
  'category_code': 'mobile',
  'founded_year': 2010,
  'total_money_raised': '$7.1M',
  'offices': [{'description': '',
    'address1': '4966 El Camino Real',
    'address2': 'Suite 200',
    'zip_code': '94022',
    'city': 'Los Altos',
    'state_code': 'CA',
    'country_code': 'USA',
    'latitude': 33.8171,
    'longitude': -111.9035}]},
 {'_id': ObjectId('52cdef7c4bab8bd675297fec'),
  'name': 'Fixya',
  'category_code': 'web',
  'founded_year': 2013,
  'total_money_raised': '$8M',
  'offices': [{'description': '',
    'address1': 'One Franklin Parkway',
    'address2': 'Building 910, Suite 110',
    'zip_code': '94401',
    'city': 'San Mateo',
    'state_code': 'CA',
    'country_code': 'USA',
    'latitude': 37.566879,
    'longitude': -122.323895}]},
 {'_id': ObjectId('52cdef7c4bab8bd67529831a'),
  'name': 'Social Gaming Network',
  'category_code': 'games_video',
  'founded_year': 2011,
  'total_money_raised': '$17.1M',
  'offices': [{'description': 'HQ Los Angeles',
    'address1': '9570 W. Pico Blvd 3rd Floor',
    'address2': '',
    'zip_code': '90035',
    'city': 'Los Angeles',
    'state_code': 'CA',
    'country_code': 'USA',
    'latitude': 37.446823,
    'longitude': -122.161523},
   {'description': '',
    'address1': '9606 S. Santa Monica Blvd',
    'address2': '2nd Floor',
    'zip_code': '90210',
    'city': 'Beverly Hills',
    'state_code': 'CA',
    'country_code': 'USA',
    'latitude': 34.0698494,
    'longitude': -118.4054182}]},
 {'_id': ObjectId('52cdef7c4bab8bd675298509'),
  'name': 'Skydeck',
  'category_code': 'mobile',
  'founded_year': 2012,
  'total_money_raised': '$4M',
  'offices': [{'description': '',
    'address1': '330 Waverley St.',
    'address2': 'Suite 3',
    'zip_code': '94301',
    'city': 'Palo Alto',
    'state_code': 'CA',
    'country_code': 'USA',
    'latitude': 37.5645375,
    'longitude': -122.3254705}]},
 {'_id': ObjectId('52cdef7c4bab8bd675298591'),
  'name': 'Handipoints',
  'category_code': 'games_video',
  'founded_year': 2009,
  'total_money_raised': '$800k',
  'offices': [{'description': None,
    'address1': '',
    'address2': '',
    'zip_code': '',
    'city': 'Oakland',
    'state_code': 'CA',
    'country_code': 'USA',
    'latitude': 37.772323,
    'longitude': -122.214897}]},
 {'_id': ObjectId('52cdef7d4bab8bd675298970'),
  'name': 'Pixsta',
  'category_code': 'web',
  'founded_year': 2010,
  'total_money_raised': '£3M',
  'offices': [{'description': None,
    'address1': '9 Thorpe Close',
    'address2': 'Portobello Rd',
    'zip_code': 'W10 5XL',
    'city': 'London',
    'state_code': None,
    'country_code': 'GBR',
    'latitude': 51.51819,
    'longitude': -0.208979}]},
 {'_id': ObjectId('52cdef7d4bab8bd675298ce2'),
  'name': 'BrandYourself',
  'category_code': 'web',
  'founded_year': 2009,
  'total_money_raised': '$1.5M',
  'offices': [{'description': '',
    'address1': '120 Walker St',
    'address2': 'FL 2',
    'zip_code': '10013',
    'city': 'New York',
    'state_code': 'NY',
    'country_code': 'USA',
    'latitude': 42.275263,
    'longitude': -71.24762}]},
 {'_id': ObjectId('52cdef7d4bab8bd675298dcc'),
  'name': 'Titan Gaming',
  'category_code': 'games_video',
  'founded_year': 2010,
  'total_money_raised': '$1M',
  'offices': [{'description': 'Santa Monica Office',
    'address1': '1351 4th Street, 4th floor',
    'address2': '',
    'zip_code': '90401',
    'city': 'Santa Monica',
    'state_code': 'CA',
    'country_code': 'USA',
    'latitude': 53.544711,
    'longitude': -113.515769}]},
 {'_id': ObjectId('52cdef7d4bab8bd675299444'),
  'name': 'CompareAway',
  'category_code': 'web',
  'founded_year': 2009,
  'total_money_raised': '£500k',
  'offices': [{'description': 'Direct Holiday Bookings',
    'address1': 'Green Lane',
    'address2': 'Spennymoor',
    'zip_code': 'DL16 6JF',
    'city': 'Durham',
    'state_code': None,
    'country_code': 'GBR',
    'latitude': 54.703145,
    'longitude': -1.574948}]},
 {'_id': ObjectId('52cdef7d4bab8bd6752995d0'),
  'name': 'vufind',
  'category_code': 'mobile',
  'founded_year': 2010,
  'total_money_raised': '$930k',
  'offices': [{'description': 'Headquarters',
    'address1': '1290 oakmead parkway, suite 107',
    'address2': '',
    'zip_code': '94085',
    'city': 'Sunnyvale',
    'state_code': 'CA',
    'country_code': 'USA',
    'latitude': 37.424614,
    'longitude': -122.145153}]},
 {'_id': ObjectId('52cdef7d4bab8bd675299826'),
  'name': 'Kidos',
  'category_code': 'games_video',
  'founded_year': 2011,
  'total_money_raised': '$200k',
  'offices': [{'description': 'Mailing Address',
    'address1': '355 E. 72nd St., Suite 4E',
    'address2': '',
    'zip_code': '10021',
    'city': 'New York',
    'state_code': 'NY',
    'country_code': 'USA',
    'latitude': 40.768058,
    'longitude': -73.956599},
   {'description': 'Corporate Headquarters',
    'address1': '153 Roebling St.',
    'address2': '',
    'zip_code': '11211',
    'city': 'Brooklyn',
    'state_code': 'NY',
    'country_code': 'USA',
    'latitude': 40.714056,
    'longitude': -73.957854}]},
 {'_id': ObjectId('52cdef7d4bab8bd67529995a'),
  'name': 'vufind',
  'category_code': 'mobile',
  'founded_year': 2010,
  'total_money_raised': '$930k',
  'offices': [{'description': 'Headquarters',
    'address1': '1290 oakmead parkway, suite 107',
    'address2': '',
    'zip_code': '94085',
    'city': 'Sunnyvale',
    'state_code': 'CA',
    'country_code': 'USA',
    'latitude': 37.424614,
    'longitude': -122.145153}]},
 {'_id': ObjectId('52cdef7d4bab8bd675299bb0'),
  'name': 'Kidos',
  'category_code': 'games_video',
  'founded_year': 2011,
  'total_money_raised': '$200k',
  'offices': [{'description': 'Mailing Address',
    'address1': '355 E. 72nd St., Suite 4E',
    'address2': '',
    'zip_code': '10021',
    'city': 'New York',
    'state_code': 'NY',
    'country_code': 'USA',
    'latitude': 40.768058,
    'longitude': -73.956599},
   {'description': 'Corporate Headquarters',
    'address1': '153 Roebling St.',
    'address2': '',
    'zip_code': '11211',
    'city': 'Brooklyn',
    'state_code': 'NY',
    'country_code': 'USA',
    'latitude': 40.714056,
    'longitude': -73.957854}]},
 {'_id': ObjectId('52cdef7d4bab8bd67529a00e'),
  'name': 'Formspring',
  'category_code': 'web',
  'founded_year': 2009,
  'total_money_raised': '$14.3M',
  'offices': [{'description': 'Formspring',
    'address1': '',
    'address2': '',
    'zip_code': '94105',
    'city': 'San Francisco',
    'state_code': 'CA',
    'country_code': 'USA',
    'latitude': 39.9052263,
    'longitude': -86.0547016}]},
 {'_id': ObjectId('52cdef7d4bab8bd67529a1e3'),
  'name': 'Yipit',
  'category_code': 'web',
  'founded_year': 2010,
  'total_money_raised': '$7.55M',
  'offices': [{'description': 'HQ',
    'address1': '3 W 18th',
    'address2': '2nd Floor',
    'zip_code': '10011',
    'city': 'New York',
    'state_code': 'NY',
    'country_code': 'USA',
    'latitude': 40.744618,
    'longitude': -73.987764}]},
 {'_id': ObjectId('52cdef7e4bab8bd67529a75f'),
  'name': 'Tengaged',
  'category_code': 'games_video',
  'founded_year': 2010,
  'total_money_raised': '$15k',
  'offices': [{'description': 'Main',
    'address1': 'C/Pedrell',
    'address2': '',
    'zip_code': '08032',
    'city': 'Barcelona',
    'state_code': None,
    'country_code': 'ESP',
    'latitude': 41.4241228,
    'longitude': 2.1634249}]},
 {'_id': ObjectId('52cdef7e4bab8bd67529ab2f'),
  'name': 'ScaleMP',
  'category_code': 'software',
  'founded_year': 2009,
  'total_money_raised': '$8M',
  'offices': [{'description': '',
    'address1': '20863 Stevens Creek Blvd.',
    'address2': 'Suite 275',
    'zip_code': '95014',
    'city': 'Cupertino',
    'state_code': 'CA',
    'country_code': 'USA',
    'latitude': 37.3229727,
    'longitude': -122.0385792}]},
 {'_id': ObjectId('52cdef7e4bab8bd67529abc2'),
  'name': 'VisualOn',
  'category_code': 'software',
  'founded_year': 2011,
  'total_money_raised': '$3.1M',
  'offices': [{'description': 'Headquarters',
    'address1': '4675 Stevens Creek Blvd',
    'address2': '# 200',
    'zip_code': '95051',
    'city': 'Santa Clara',
    'state_code': 'CA',
    'country_code': 'USA',
    'latitude': 37.270518,
    'longitude': -121.955879}]},
 {'_id': ObjectId('52cdef7e4bab8bd67529abd9'),
  'name': 'Heyzap',
  'category_code': 'games_video',
  'founded_year': 2009,
  'total_money_raised': '$7.97M',
  'offices': [{'description': 'Head Quaters',
    'address1': '3rd Floor, 251 Kearny Street',
    'address2': 'Kearny Street',
    'zip_code': '94108',
    'city': 'San Francisco',
    'state_code': 'CA',
    'country_code': 'USA',
    'latitude': 37.7905538,
    'longitude': -122.4041485}]},
 {'_id': ObjectId('52cdef7e4bab8bd67529b0f2'),
  'name': 'Tinychat',
  'category_code': 'web',
  'founded_year': 2009,
  'total_money_raised': '$1.5M',
  'offices': [{'description': 'Home Office',
    'address1': 'PO Box 431',
    'address2': '',
    'zip_code': '11542',
    'city': 'Glen Cove',
    'state_code': 'NY',
    'country_code': 'USA',
    'latitude': 42.3756409,
    'longitude': -72.5196907}]},
 {'_id': ObjectId('52cdef7e4bab8bd67529b158'),
  'name': 'BASH Gaming',
  'category_code': 'games_video',
  'founded_year': 2010,
  'total_money_raised': '$1M',
  'offices': [{'description': 'US Office',
    'address1': '',
    'address2': '',
    'zip_code': '94555',
    'city': 'Fremont',
    'state_code': 'CA',
    'country_code': 'USA',
    'latitude': 37.5561712,
    'longitude': -122.0780632},
   {'description': 'India Office',
    'address1': '',
    'address2': '',
    'zip_code': '',
    'city': 'Bangalore',
    'state_code': None,
    'country_code': 'IND',
    'latitude': 12.971606,
    'longitude': 77.594376}]},
 {'_id': ObjectId('52cdef7e4bab8bd67529b1f6'),
  'name': 'AppNeta',
  'category_code': 'software',
  'founded_year': 2010,
  'total_money_raised': '$55.8M',
  'offices': [{'description': 'AppNeta',
    'address1': '285 Summer Street',
    'address2': '4th Floor',
    'zip_code': '02127',
    'city': 'SOUTH BOSTON',
    'state_code': 'MA',
    'country_code': 'USA',
    'latitude': 42.318138,
    'longitude': -71.24756}]},
 {'_id': ObjectId('52cdef7e4bab8bd67529b22a'),
  'name': 'AppZero',
  'category_code': 'software',
  'founded_year': 2009,
  'total_money_raised': '$15.1M',
  'offices': [{'description': 'HQ',
    'address1': '300 Brickston Sq.',
    'address2': 'Suite 201',
    'zip_code': '01810',
    'city': 'Andover',
    'state_code': 'MA',
    'country_code': 'USA',
    'latitude': 42.6751888,
    'longitude': -71.1469003}]},
 {'_id': ObjectId('52cdef7e4bab8bd67529b501'),
  'name': 'GameChanger Media',
  'category_code': 'software',
  'founded_year': 2009,
  'total_money_raised': '$3.64M',
  'offices': [{'description': 'New York Office',
    'address1': '86 Chambers St',
    'address2': '2nd Floor',
    'zip_code': '10007',
    'city': 'New York',
    'state_code': 'NY',
    'country_code': 'USA',
    'latitude': 40.7078343,
    'longitude': -74.0136605}]},
 {'_id': ObjectId('52cdef7e4bab8bd67529b52e'),
  'name': 'Z2Live',
  'category_code': 'games_video',
  'founded_year': 2009,
  'total_money_raised': '$6.5M',
  'offices': [{'description': 'Z2Live',
    'address1': '1601 2nd Ave',
    'address2': 'Suite 800',
    'zip_code': '98101',
    'city': 'Seattle',
    'state_code': 'WA',
    'country_code': 'USA',
    'latitude': 47.6103008,
    'longitude': -122.3399782}]},
 {'_id': ObjectId('52cdef7e4bab8bd67529b543'),
  'name': 'Gate 53|10 Technologies',
  'category_code': 'web',
  'founded_year': 2009,
  'total_money_raised': '€141k',
  'offices': [{'description': 'Headquarters',
    'address1': 'Arndtstr 18-20',
    'address2': '',
    'zip_code': '22085',
    'city': 'Hamburg',
    'state_code': None,
    'country_code': 'DEU',
    'latitude': 53.5736401,
    'longitude': 10.0184565}]},
 {'_id': ObjectId('52cdef7e4bab8bd67529b572'),
  'name': 'Tongal',
  'category_code': 'web',
  'founded_year': 2009,
  'total_money_raised': '$16M',
  'offices': [{'description': 'Headquarters',
    'address1': '1918 Main Street',
    'address2': '2nd Floor',
    'zip_code': '90405',
    'city': 'Santa Monica',
    'state_code': 'CA',
    'country_code': 'USA',
    'latitude': 34.007112,
    'longitude': -118.489748}]},
 {'_id': ObjectId('52cdef7e4bab8bd67529b5fc'),
  'name': 'Chartbeat',
  'category_code': 'analytics',
  'founded_year': 2009,
  'total_money_raised': '$14.5M',
  'offices': [{'description': '',
    'address1': '826 Broadway',
    'address2': '6th Floor',
    'zip_code': '10003',
    'city': 'New York',
    'state_code': 'NY',
    'country_code': 'USA',
    'latitude': 40.73343,
    'longitude': -73.990967}]},
 {'_id': ObjectId('52cdef7e4bab8bd67529b896'),
  'name': 'Catchafire',
  'category_code': 'web',
  'founded_year': 2009,
  'total_money_raised': '$400k',
  'offices': [{'description': '',
    'address1': '31 East 32nd Street',
    'address2': '',
    'zip_code': '10016',
    'city': 'New York',
    'state_code': None,
    'country_code': 'USA',
    'latitude': 40.746417,
    'longitude': -73.983171}]},
 {'_id': ObjectId('52cdef7e4bab8bd67529b8be'),
  'name': '1calendar',
  'category_code': 'software',
  'founded_year': 2009,
  'total_money_raised': '$40k',
  'offices': [{'description': 'Headquarter',
    'address1': 'Kompagnistræde 20B, 1 th.',
    'address2': '',
    'zip_code': '1208',
    'city': 'Copenhagen',
    'state_code': None,
    'country_code': 'DNK',
    'latitude': 55.6770321,
    'longitude': 12.5751278},
   {'description': 'Research Office',
    'address1': 'Howitzvej 60, 5. sal',
    'address2': '',
    'zip_code': '2000',
    'city': 'Copenhagen',
    'state_code': None,
    'country_code': 'DNK',
    'latitude': 55.6802318,
    'longitude': 12.524884}]},
 {'_id': ObjectId('52cdef7e4bab8bd67529bac7'),
  'name': 'Shareaholic',
  'category_code': 'web',
  'founded_year': 2009,
  'total_money_raised': '$5.46M',
  'offices': [{'description': 'Shareaholic',
    'address1': '109 Kingston Street',
    'address2': '4th Floor',
    'zip_code': '02111',
    'city': 'Boston',
    'state_code': 'MA',
    'country_code': 'USA',
    'latitude': 42.3647559,
    'longitude': -71.1032591}]},
 {'_id': ObjectId('52cdef7e4bab8bd67529bb13'),
  'name': 'DP7 Digital',
  'category_code': 'software',
  'founded_year': 2009,
  'total_money_raised': '$100k',
  'offices': [{'description': 'Office at Sao Paulo',
    'address1': 'Rua Pedroso Alvarenga, 990, sala 72, itaim bibi',
    'address2': '',
    'zip_code': '04531011',
    'city': 'Sao Paulo',
    'state_code': None,
    'country_code': 'BRA',
    'latitude': -23.5815208,
    'longitude': -46.6773686},
   {'description': 'Office at Florianopolis',
    'address1': 'Rua Tiradentes, 201, sala 05, centro',
    'address2': '',
    'zip_code': '88010430',
    'city': 'Florianopolis',
    'state_code': None,
    'country_code': 'BRA',
    'latitude': -27.5995476,
    'longitude': -48.5483418}]},
 {'_id': ObjectId('52cdef7e4bab8bd67529bcb0'),
  'name': 'The Resumator',
  'category_code': 'software',
  'founded_year': 2009,
  'total_money_raised': '$2.98M',
  'offices': [{'description': '',
    'address1': '',
    'address2': '',
    'zip_code': '',
    'city': 'Pittsburgh',
    'state_code': 'PA',
    'country_code': 'USA',
    'latitude': 40.438423,
    'longitude': -80.001933}]},
 {'_id': ObjectId('52cdef7e4bab8bd67529bce7'),
  'name': 'Carrier Mobile',
  'category_code': 'mobile',
  'founded_year': 2009,
  'total_money_raised': '$10k',
  'offices': [{'description': 'TechArb',
    'address1': '500 E. Washington',
    'address2': '',
    'zip_code': '48104',
    'city': 'Ann Arbor',
    'state_code': 'MI',
    'country_code': 'USA',
    'latitude': 42.2802707,
    'longitude': -83.7422325}]},
 {'_id': ObjectId('52cdef7f4bab8bd67529be57'),
  'name': 'Udorse',
  'category_code': 'web',
  'founded_year': 2009,
  'total_money_raised': '$500k',
  'offices': [{'description': '',
    'address1': '',
    'address2': '',
    'zip_code': '',
    'city': 'New York',
    'state_code': 'NY',
    'country_code': 'USA',
    'latitude': 40.756054,
    'longitude': -73.986951}]},
 {'_id': ObjectId('52cdef7f4bab8bd67529bf22'),
  'name': 'BitMethod',
  'category_code': 'mobile',
  'founded_year': 2009,
  'total_money_raised': '$50k',
  'offices': [{'description': 'Liberty Building',
    'address1': '418 6th Avenue',
    'address2': 'Suite 1210',
    'zip_code': '50309',
    'city': 'Des Moines',
    'state_code': 'IA',
    'country_code': 'USA',
    'latitude': 41.581232,
    'longitude': -93.621998}]},
 {'_id': ObjectId('52cdef7f4bab8bd67529c014'),
  'name': 'Ykone',
  'category_code': 'web',
  'founded_year': 2009,
  'total_money_raised': '€1.5M',
  'offices': [{'description': 'Ykone Headquarters',
    'address1': '',
    'address2': '',
    'zip_code': '',
    'city': 'Paris',
    'state_code': None,
    'country_code': 'FRA',
    'latitude': 48.8566667,
    'longitude': 2.3509871}]},
 {'_id': ObjectId('52cdef7f4bab8bd67529c12a'),
  'name': 'Layar',
  'category_code': 'mobile',
  'founded_year': 2009,
  'total_money_raised': '$13.4M',
  'offices': [{'description': 'HQ',
    'address1': 'Vijzelstraat 20',
    'address2': '',
    'zip_code': '1017HK',
    'city': 'Amsterdam',
    'state_code': None,
    'country_code': 'NLD',
    'latitude': 52.3657578,
    'longitude': 4.8928722}]},
 {'_id': ObjectId('52cdef7f4bab8bd67529c1aa'),
  'name': 'Lipperhey',
  'category_code': 'software',
  'founded_year': 2009,
  'total_money_raised': '€200k',
  'offices': [{'description': 'Amsterdam Office',
    'address1': 'Timorplein 42',
    'address2': '',
    'zip_code': '1094CC',
    'city': 'Amsterdam',
    'state_code': None,
    'country_code': 'NLD',
    'latitude': 52.3655578,
    'longitude': 4.9345824}]},
 {'_id': ObjectId('52cdef7f4bab8bd67529c343'),
  'name': 'ChallengePost',
  'category_code': 'web',
  'founded_year': 2009,
  'total_money_raised': '$4.6M',
  'offices': [{'description': '',
    'address1': '425 West 13th Street',
    'address2': 'Suite 504',
    'zip_code': '10014',
    'city': 'New York',
    'state_code': 'NY',
    'country_code': 'USA',
    'latitude': 40.7408042,
    'longitude': -74.00717}]},
 {'_id': ObjectId('52cdef7f4bab8bd67529c6b6'),
  'name': 'Tiny Speck',
  'category_code': 'games_video',
  'founded_year': 2009,
  'total_money_raised': '$17.2M',
  'offices': [{'description': '',
    'address1': '163 Hastings St W',
    'address2': '',
    'zip_code': 'BC V6B 1H5',
    'city': 'Vancouver',
    'state_code': None,
    'country_code': 'CAN',
    'latitude': 49.2824551,
    'longitude': -123.109217}]},
 {'_id': ObjectId('52cdef7f4bab8bd67529c6e4'),
  'name': 'Getyoo',
  'category_code': 'mobile',
  'founded_year': 2009,
  'total_money_raised': '€1.13M',
  'offices': [{'description': 'HQ',
    'address1': 'Rue des Tanneurs, 60a',
    'address2': '',
    'zip_code': '1000',
    'city': 'Brussels',
    'state_code': None,
    'country_code': 'BEL',
    'latitude': 50.83997,
    'longitude': 4.3464721}]}]

In [26]:
interesting_companies[2]

{'_id': ObjectId('52cdef7c4bab8bd67529831a'),
 'name': 'Social Gaming Network',
 'category_code': 'games_video',
 'founded_year': 2011,
 'total_money_raised': '$17.1M',
 'offices': [{'description': 'HQ Los Angeles',
   'address1': '9570 W. Pico Blvd 3rd Floor',
   'address2': '',
   'zip_code': '90035',
   'city': 'Los Angeles',
   'state_code': 'CA',
   'country_code': 'USA',
   'latitude': 37.446823,
   'longitude': -122.161523},
  {'description': '',
   'address1': '9606 S. Santa Monica Blvd',
   'address2': '2nd Floor',
   'zip_code': '90210',
   'city': 'Beverly Hills',
   'state_code': 'CA',
   'country_code': 'USA',
   'latitude': 34.0698494,
   'longitude': -118.4054182}]}

In [27]:
def getLocation(companies):
    location =[]
    for i in range(len(companies['offices'])):
        longitude = companies['offices'][i]['longitude']
        latitude = companies['offices'][i]['latitude']
        loc = {
            'type':'Point',
            'coordinates':[longitude, latitude]
        }
        location.append(loc)
    return location

getLocation(interesting_companies[2])

[{'type': 'Point', 'coordinates': [-122.161523, 37.446823]},
 {'type': 'Point', 'coordinates': [-118.4054182, 34.0698494]}]

In [28]:
for comp in interesting_companies:
    value = {"$set": {'location': getLocation(comp)}
    coll.update_many(comp, value)
    
interesting_companies[2]['location']

SyntaxError: invalid syntax (<ipython-input-28-f42c2e2ab80d>, line 3)

In [9]:
for c in company:
    for i in range(len(c['offices'])):
        value = {"$set": {'location'+str(i):getLocation(c,i)}}
        coll.update_one(c,value)

NameError: name 'company' is not defined

In [126]:
print(len(interesting_companies[2]['offices']))

2

In [87]:
'''def getLocation(company):
    coordinates = []
    for i in range(len(company["offices"])):
        longitude = company['offices'][i]['longitude']
        latitude = company['offices'][i]['latitude']
        coordinate = {
            'type':'Point',
            'coordinates':[longitude, latitude]
        }    
        coordinates.append(coordinate)
    return coordinates

getLocation(interesting_companies)
'''

'def getLocation(company):\n    coordinates = []\n    for i in range(len(company["offices"])):\n        longitude = company[\'offices\'][i][\'longitude\']\n        latitude = company[\'offices\'][i][\'latitude\']\n        coordinate = {\n            \'type\':\'Point\',\n            \'coordinates\':[longitude, latitude]\n        }    \n        coordinates.append(coordinate)\n    return coordinates\n\ngetLocation(interesting_companies)\n'

In [88]:

'''coordinates = [{'type': 'Point', 'coordinates':getLocation(comp)}for comp in interesting_companies]

print(coordinates)'''

"coordinates = [{'type': 'Point', 'coordinates':getLocation(comp)}for comp in interesting_companies]\n\nprint(coordinates)"

In [89]:
'''def getLocation(companies):
    location= []
    for i in range(len(interesting_companies["offices"])):
        latitude = interesting_companies["offices"][i]["latitude"]
        longitude = interesting_companies["offices"][i]["longitude"]
        loc = {
            'type':'Point',
            'coordinates':[float(longitude), float(latitude)]
        }    
        location.append(loc)
    return location


getLocation(interesting_companies[0])

for comp in interesting_companies:
    value = {"$set": {"location":getLocation(comp)}}
    coll.update_one(comp, value)'''

'def getLocation(companies):\n    location= []\n    for i in range(len(interesting_companies["offices"])):\n        latitude = interesting_companies["offices"][i]["latitude"]\n        longitude = interesting_companies["offices"][i]["longitude"]\n        loc = {\n            \'type\':\'Point\',\n            \'coordinates\':[float(longitude), float(latitude)]\n        }    \n        location.append(loc)\n    return location\n\n\ngetLocation(interesting_companies[0])\n\nfor comp in interesting_companies:\n    value = {"$set": {"location":getLocation(comp)}}\n    coll.update_one(comp, value)'

In [170]:
companies = pd.DataFrame(interesting_companies)
companies.head()

,_id,name,category_code,founded_year,total_money_raised,offices
0,52cdef7c4bab8bd675297f9e,GENWI,mobile,2010,$7.1M,"[{'latitude': 33.8171, 'longitude': -111.9035}]"
1,52cdef7c4bab8bd675297fec,Fixya,web,2013,$8M,"[{'latitude': 37.566879, 'longitude': -122.323..."
2,52cdef7c4bab8bd67529831a,Social Gaming Network,games_video,2011,$17.1M,"[{'latitude': 37.446823, 'longitude': -122.161..."
3,52cdef7c4bab8bd675298509,Skydeck,mobile,2012,$4M,"[{'latitude': 37.5645375, 'longitude': -122.32..."
4,52cdef7c4bab8bd675298591,Handipoints,games_video,2009,$800k,"[{'latitude': 37.772323, 'longitude': -122.214..."

In [171]:
companies["coordinates"] = coordinates
companies.head()

,_id,name,category_code,founded_year,total_money_raised,offices,coordinates
0,52cdef7c4bab8bd675297f9e,GENWI,mobile,2010,$7.1M,"[{'latitude': 33.8171, 'longitude': -111.9035}]","{'type': 'Point', 'coordinates': [-111.9035, 3..."
1,52cdef7c4bab8bd675297fec,Fixya,web,2013,$8M,"[{'latitude': 37.566879, 'longitude': -122.323...","{'type': 'Point', 'coordinates': [-122.323895,..."
2,52cdef7c4bab8bd67529831a,Social Gaming Network,games_video,2011,$17.1M,"[{'latitude': 37.446823, 'longitude': -122.161...","{'type': 'Point', 'coordinates': [-122.161523,..."
3,52cdef7c4bab8bd675298509,Skydeck,mobile,2012,$4M,"[{'latitude': 37.5645375, 'longitude': -122.32...","{'type': 'Point', 'coordinates': [-122.3254705..."
4,52cdef7c4bab8bd675298591,Handipoints,games_video,2009,$800k,"[{'latitude': 37.772323, 'longitude': -122.214...","{'type': 'Point', 'coordinates': [-122.214897,..."

In [175]:
companies["coordinates"][2]

{'type': 'Point', 'coordinates': [-122.161523, 37.446823]}

In [163]:
companies = companies.drop(['_id'], axis = 1)
companies.head()

,name,category_code,founded_year,total_money_raised,offices,coordinates
0,GENWI,mobile,2010,$7.1M,"[{'latitude': 33.8171, 'longitude': -111.9035}]","{'type': 'Point', 'coordinates': [-111.9035, 3..."
1,Fixya,web,2013,$8M,"[{'latitude': 37.566879, 'longitude': -122.323...","{'type': 'Point', 'coordinates': [-122.323895,..."
2,Social Gaming Network,games_video,2011,$17.1M,"[{'latitude': 37.446823, 'longitude': -122.161...","{'type': 'Point', 'coordinates': [-122.161523,..."
3,Skydeck,mobile,2012,$4M,"[{'latitude': 37.5645375, 'longitude': -122.32...","{'type': 'Point', 'coordinates': [-122.3254705..."
4,Handipoints,games_video,2009,$800k,"[{'latitude': 37.772323, 'longitude': -122.214...","{'type': 'Point', 'coordinates': [-122.214897,..."

In [164]:
companies.total_money_raised = companies.total_money_raised.str.replace(r'(\d+)([A-Za-z])', r'\1 \2')
companies.total_money_raised = companies.total_money_raised.str.replace(r'(.)(\d+)', r'\1 \2')
companies.head()

,name,category_code,founded_year,total_money_raised,offices,coordinates
0,GENWI,mobile,2010,$ 7. 1 M,"[{'latitude': 33.8171, 'longitude': -111.9035}]","{'type': 'Point', 'coordinates': [-111.9035, 3..."
1,Fixya,web,2013,$ 8 M,"[{'latitude': 37.566879, 'longitude': -122.323...","{'type': 'Point', 'coordinates': [-122.323895,..."
2,Social Gaming Network,games_video,2011,$ 17. 1 M,"[{'latitude': 37.446823, 'longitude': -122.161...","{'type': 'Point', 'coordinates': [-122.161523,..."
3,Skydeck,mobile,2012,$ 4 M,"[{'latitude': 37.5645375, 'longitude': -122.32...","{'type': 'Point', 'coordinates': [-122.3254705..."
4,Handipoints,games_video,2009,$ 800 k,"[{'latitude': 37.772323, 'longitude': -122.214...","{'type': 'Point', 'coordinates': [-122.214897,..."

In [165]:
#companies3 = companies2[companies2["total_money_raised"].str.contains("M", na=True)]
#companies3
#df[df['model'].str.contains('ac')]

companies1 = companies[['M' in x for x in companies['total_money_raised']]]
companies1.head()

,name,category_code,founded_year,total_money_raised,offices,coordinates
0,GENWI,mobile,2010,$ 7. 1 M,"[{'latitude': 33.8171, 'longitude': -111.9035}]","{'type': 'Point', 'coordinates': [-111.9035, 3..."
1,Fixya,web,2013,$ 8 M,"[{'latitude': 37.566879, 'longitude': -122.323...","{'type': 'Point', 'coordinates': [-122.323895,..."
2,Social Gaming Network,games_video,2011,$ 17. 1 M,"[{'latitude': 37.446823, 'longitude': -122.161...","{'type': 'Point', 'coordinates': [-122.161523,..."
3,Skydeck,mobile,2012,$ 4 M,"[{'latitude': 37.5645375, 'longitude': -122.32...","{'type': 'Point', 'coordinates': [-122.3254705..."
5,Pixsta,web,2010,£ 3 M,"[{'latitude': 51.51819, 'longitude': -0.208979}]","{'type': 'Point', 'coordinates': [-0.208979, 5..."

In [169]:
print(companies1["coordinates"])

0     {'type': 'Point', 'coordinates': [-111.9035, 3...
1     {'type': 'Point', 'coordinates': [-122.323895,...
2     {'type': 'Point', 'coordinates': [-122.161523,...
3     {'type': 'Point', 'coordinates': [-122.3254705...
5     {'type': 'Point', 'coordinates': [-0.208979, 5...
6     {'type': 'Point', 'coordinates': [-71.24762, 4...
7     {'type': 'Point', 'coordinates': [-113.515769,...
13    {'type': 'Point', 'coordinates': [-86.0547016,...
14    {'type': 'Point', 'coordinates': [-73.987764, ...
16    {'type': 'Point', 'coordinates': [-122.0385792...
17    {'type': 'Point', 'coordinates': [-121.955879,...
18    {'type': 'Point', 'coordinates': [-122.4041485...
19    {'type': 'Point', 'coordinates': [-72.5196907,...
20    {'type': 'Point', 'coordinates': [-122.0780632...
21    {'type': 'Point', 'coordinates': [-71.24756, 4...
22    {'type': 'Point', 'coordinates': [-71.1469003,...
23    {'type': 'Point', 'coordinates': [-74.0136605,...
24    {'type': 'Point', 'coordinates': [-122.3399782...
26    {'type': 'Point', 'coordinates': [-118.489748,...
27    {'type': 'Point', 'coordinates': [-73.990967, ...
30    {'type': 'Point', 'coordinates': [-71.1032591,...
32    {'type': 'Point', 'coordinates': [-80.001933, ...
36    {'type': 'Point', 'coordinates': [2.3509871, 4...
37    {'type': 'Point', 'coordinates': [4.8928722, 5...
39    {'type': 'Point', 'coordinates': [-74.00717, 4...
40    {'type': 'Point', 'coordinates': [-123.109217,...
41    {'type': 'Point', 'coordinates': [4.3464721, 5...
Name: coordinates, dtype: object

In [57]:
companies1.to_json(orient= "records")

'[{"name":"GENWI","category_code":"mobile","founded_year":2010,"total_money_raised":"$  7.  1 M","offices":[{"latitude":33.8171,"longitude":-111.9035}],"coordinates":{"type":"Point","coordinates":[-111.9035,33.8171]}},{"name":"Fixya","category_code":"web","founded_year":2013,"total_money_raised":"$  8 M","offices":[{"latitude":37.566879,"longitude":-122.323895}],"coordinates":{"type":"Point","coordinates":[-122.323895,37.566879]}},{"name":"Social Gaming Network","category_code":"games_video","founded_year":2011,"total_money_raised":"$  17.  1 M","offices":[{"latitude":37.446823,"longitude":-122.161523},{"latitude":34.0698494,"longitude":-118.4054182}],"coordinates":{"type":"Point","coordinates":[-122.161523,37.446823]}},{"name":"Skydeck","category_code":"mobile","founded_year":2012,"total_money_raised":"$  4 M","offices":[{"latitude":37.5645375,"longitude":-122.3254705}],"coordinates":{"type":"Point","coordinates":[-122.3254705,37.5645375]}},{"name":"Pixsta","category_code":"web","founded_year":2010,"total_money_raised":"\\u00a3  3 M","offices":[{"latitude":51.51819,"longitude":-0.208979}],"coordinates":{"type":"Point","coordinates":[-0.208979,51.51819]}},{"name":"BrandYourself","category_code":"web","founded_year":2009,"total_money_raised":"$  1.  5 M","offices":[{"latitude":42.275263,"longitude":-71.24762}],"coordinates":{"type":"Point","coordinates":[-71.24762,42.275263]}},{"name":"Titan Gaming","category_code":"games_video","founded_year":2010,"total_money_raised":"$  1 M","offices":[{"latitude":53.544711,"longitude":-113.515769}],"coordinates":{"type":"Point","coordinates":[-113.515769,53.544711]}},{"name":"Formspring","category_code":"web","founded_year":2009,"total_money_raised":"$  14.  3 M","offices":[{"latitude":39.9052263,"longitude":-86.0547016}],"coordinates":{"type":"Point","coordinates":[-86.0547016,39.9052263]}},{"name":"Yipit","category_code":"web","founded_year":2010,"total_money_raised":"$  7.  55 M","offices":[{"latitude":40.744618,"longitude":-73.987764}],"coordinates":{"type":"Point","coordinates":[-73.987764,40.744618]}},{"name":"ScaleMP","category_code":"software","founded_year":2009,"total_money_raised":"$  8 M","offices":[{"latitude":37.3229727,"longitude":-122.0385792}],"coordinates":{"type":"Point","coordinates":[-122.0385792,37.3229727]}},{"name":"VisualOn","category_code":"software","founded_year":2011,"total_money_raised":"$  3.  1 M","offices":[{"latitude":37.270518,"longitude":-121.955879}],"coordinates":{"type":"Point","coordinates":[-121.955879,37.270518]}},{"name":"Heyzap","category_code":"games_video","founded_year":2009,"total_money_raised":"$  7.  97 M","offices":[{"latitude":37.7905538,"longitude":-122.4041485}],"coordinates":{"type":"Point","coordinates":[-122.4041485,37.7905538]}},{"name":"Tinychat","category_code":"web","founded_year":2009,"total_money_raised":"$  1.  5 M","offices":[{"latitude":42.3756409,"longitude":-72.5196907}],"coordinates":{"type":"Point","coordinates":[-72.5196907,42.3756409]}},{"name":"BASH Gaming","category_code":"games_video","founded_year":2010,"total_money_raised":"$  1 M","offices":[{"latitude":37.5561712,"longitude":-122.0780632},{"latitude":12.971606,"longitude":77.594376}],"coordinates":{"type":"Point","coordinates":[-122.0780632,37.5561712]}},{"name":"AppNeta","category_code":"software","founded_year":2010,"total_money_raised":"$  55.  8 M","offices":[{"latitude":42.318138,"longitude":-71.24756}],"coordinates":{"type":"Point","coordinates":[-71.24756,42.318138]}},{"name":"AppZero","category_code":"software","founded_year":2009,"total_money_raised":"$  15.  1 M","offices":[{"latitude":42.6751888,"longitude":-71.1469003}],"coordinates":{"type":"Point","coordinates":[-71.1469003,42.6751888]}},{"name":"GameChanger Media","category_code":"software","founded_year":2009,"total_money_raised":"$  3.  64 M","offices":[{"latitude":40.7078343,"longitude":-74.0136605}],"coordinates":{"type":"Point","coordinates":[-74.0136605,40.7078343]}},{"name":"Z2Live","category_code":"games_video","founded_year":2009,"total_money_raised":"$  6.  5 M","offices":[{"latitude":47.6103008,"longitude":-122.3399782}],"coordinates":{"type":"Point","coordinates":[-122.3399782,47.6103008]}},{"name":"Tongal","category_code":"web","founded_year":2009,"total_money_raised":"$  16 M","offices":[{"latitude":34.007112,"longitude":-118.489748}],"coordinates":{"type":"Point","coordinates":[-118.489748,34.007112]}},{"name":"Chartbeat","category_code":"analytics","founded_year":2009,"total_money_raised":"$  14.  5 M","offices":[{"latitude":40.73343,"longitude":-73.990967}],"coordinates":{"type":"Point","coordinates":[-73.990967,40.73343]}},{"name":"Shareaholic","category_code":"web","founded_year":2009,"total_money_raised":"$  5.  46 M","offices":[{"latitude":42.3647559,"longitude":-71.1032591}],"coordinates":{"type":"Point","coordinates":[-71.1032591,42.3647559]}},{"name":"The Resumator","category_code":"software","founded_year":2009,"total_money_raised":"$  2.  98 M","offices":[{"latitude":40.438423,"longitude":-80.001933}],"coordinates":{"type":"Point","coordinates":[-80.001933,40.438423]}},{"name":"Ykone","category_code":"web","founded_year":2009,"total_money_raised":"\\u20ac  1.  5 M","offices":[{"latitude":48.8566667,"longitude":2.3509871}],"coordinates":{"type":"Point","coordinates":[2.3509871,48.8566667]}},{"name":"Layar","category_code":"mobile","founded_year":2009,"total_money_raised":"$  13.  4 M","offices":[{"latitude":52.3657578,"longitude":4.8928722}],"coordinates":{"type":"Point","coordinates":[4.8928722,52.3657578]}},{"name":"ChallengePost","category_code":"web","founded_year":2009,"total_money_raised":"$  4.  6 M","offices":[{"latitude":40.7408042,"longitude":-74.00717}],"coordinates":{"type":"Point","coordinates":[-74.00717,40.7408042]}},{"name":"Tiny Speck","category_code":"games_video","founded_year":2009,"total_money_raised":"$  17.  2 M","offices":[{"latitude":49.2824551,"longitude":-123.109217}],"coordinates":{"type":"Point","coordinates":[-123.109217,49.2824551]}},{"name":"Getyoo","category_code":"mobile","founded_year":2009,"total_money_raised":"\\u20ac  1.  13 M","offices":[{"latitude":50.83997,"longitude":4.3464721}],"coordinates":{"type":"Point","coordinates":[4.3464721,50.83997]}}]'