In [4]:
import pandas as pd
from pandas.io.json import json_normalize
import folium
from geopy.geocoders import Nominatim 
import requests

In [5]:
CLIENT_ID = '2RIV2S3AUAYLH4YEI1ES3G2OM5LPEVPOWVWQZJHW1V1BPDMC' # your Foursquare ID
CLIENT_SECRET = 'F5MGL1ZLIXUQL01M0XHV5PC4LVUAMI2RYOMMHOGDYWX0RRN' # your Foursquare Secret
VERSION = '20180604'
LIMIT = 100

In [9]:
#reading our dataset
neighborhoods_subset = pd.read_json("mycompanies_clean.json")

neighborhoods_subset.head(10)

,name,category_code,founded_year,total_money_raised,geolocation
0,PeekYou,tech,2012,$1.83 M,"{'type': 'Point', 'coordinates': [-73.985506, ..."
1,GENWI,tech,2010,$7.1 M,"{'type': 'Point', 'coordinates': [-111.9035, 3..."
2,Fixya,tech,2013,$8 M,"{'type': 'Point', 'coordinates': [-122.323895,..."
3,RazorGator,tech,2011,$58.8 M,"{'type': 'Point', 'coordinates': [-118.445243,..."
4,Social Gaming Network,tech,2011,$17.1 M,"{'type': 'Point', 'coordinates': [-122.161523,..."
5,Social Gaming Network,tech,2011,$17.1 M,"{'type': 'Point', 'coordinates': [-122.161523,..."
6,Skydeck,tech,2012,$4 M,"{'type': 'Point', 'coordinates': [-122.3254705..."
7,Magento,tech,2010,$22.5 M,"{'type': 'Point', 'coordinates': [-118.243425,..."
8,Pixsta,tech,2010,£3 M,"{'type': 'Point', 'coordinates': [-0.208979, 5..."
9,BrandYourself,tech,2009,$1.5 M,"{'type': 'Point', 'coordinates': [-71.24762, 4..."

In [ ]:
neighborhood_name = neighborhoods_subset.loc[0, 'Neighborhood']
neighborhood_latitude = neighborhoods_subset.loc[0, 'Latitude'] 
neighborhood_longitude = neighborhoods_subset.loc[0, 'Longitude']