In [2]:
from pymongo import MongoClient
# https://api.mongodb.com/python/current/tutorial.html

In [3]:
client = MongoClient("mongodb://localhost:27017/")

In [4]:
db = client.datarest

In [15]:
# all documents
rest = list(db.restaurants.find()) 
print(rest)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [26]:
# first match
first_rest = db.restaurants.find_one()
print(first_rest)

{'_id': ObjectId('5dcc38fa4133b528b8d429e6'), 'address': {'building': '97-22', 'coord': [-73.8601152, 40.7311739], 'street': '63 Road', 'zipcode': '11374'}, 'borough': 'Queens', 'cuisine': 'Jewish/Kosher', 'grades': [{'date': datetime.datetime(2014, 11, 24, 0, 0), 'grade': 'Z', 'score': 20}, {'date': datetime.datetime(2013, 1, 17, 0, 0), 'grade': 'A', 'score': 13}, {'date': datetime.datetime(2012, 8, 2, 0, 0), 'grade': 'A', 'score': 13}, {'date': datetime.datetime(2011, 12, 15, 0, 0), 'grade': 'B', 'score': 25}], 'name': 'Tov Kosher Kitchen', 'restaurant_id': '40356068'}

In [9]:
# query
wendys = list(db.restaurants.find({"name": "Wendy'S"}))
print(wendys[0])

{'_id': ObjectId('5dcc38fa4133b528b8d429e9'), 'address': {'building': '469', 'coord': [-73.961704, 40.662942], 'street': 'Flatbush Avenue', 'zipcode': '11225'}, 'borough': 'Brooklyn', 'cuisine': 'Hamburgers', 'grades': [{'date': datetime.datetime(2014, 12, 30, 0, 0), 'grade': 'A', 'score': 8}, {'date': datetime.datetime(2014, 7, 1, 0, 0), 'grade': 'B', 'score': 23}, {'date': datetime.datetime(2013, 4, 30, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2012, 5, 8, 0, 0), 'grade': 'A', 'score': 12}], 'name': "Wendy'S", 'restaurant_id': '30112340', 'country': 'USA'}

In [27]:
# returns documents
first_wendys_find = db.restaurants.find({"name": "Wendy'S"})[0]
first_wendys_find_one = db.restaurants.find_one({"name": "Wendy'S"})

# returns cursor
wendys = db.restaurants.find({"name": "Wendy'S"})
five_wendys = db.restaurants.find({"name": "Wendy'S"})[0:5]

print(first_wendys_find)
print(first_wendys_find_one)
print(wendys)
print(five_wendys)

{'_id': ObjectId('5dcc38fa4133b528b8d429e9'), 'address': {'building': '469', 'coord': [-73.961704, 40.662942], 'street': 'Flatbush Avenue', 'zipcode': '11225'}, 'borough': 'Brooklyn', 'cuisine': 'Hamburgers', 'grades': [{'date': datetime.datetime(2014, 12, 30, 0, 0), 'grade': 'A', 'score': 8}, {'date': datetime.datetime(2014, 7, 1, 0, 0), 'grade': 'B', 'score': 23}, {'date': datetime.datetime(2013, 4, 30, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2012, 5, 8, 0, 0), 'grade': 'A', 'score': 12}], 'name': "Wendy'S", 'restaurant_id': '30112340', 'country': 'USA'}
{'_id': ObjectId('5dcc38fa4133b528b8d429e9'), 'address': {'building': '469', 'coord': [-73.961704, 40.662942], 'street': 'Flatbush Avenue', 'zipcode': '11225'}, 'borough': 'Brooklyn', 'cuisine': 'Hamburgers', 'grades': [{'date': datetime.datetime(2014, 12, 30, 0, 0), 'grade': 'A', 'score': 8}, {'date': datetime.datetime(2014, 7, 1, 0, 0), 'grade': 'B', 'score': 23}, {'date': datetime.datetime(2013, 4, 30, 0, 0), 'grade': 'A', 'score': 12}, {'date': datetime.datetime(2012, 5, 8, 0, 0), 'grade': 'A', 'score': 12}], 'name': "Wendy'S", 'restaurant_id': '30112340', 'country': 'USA'}
<pymongo.cursor.Cursor object at 0x106d675d0>
<pymongo.cursor.Cursor object at 0x115f44710>

In [20]:
# access results
for k,v in rest[0].items():
    print("{}: {}".format(k,v))

_id: 5dcc38fa4133b528b8d429e6
address: {'building': '97-22', 'coord': [-73.8601152, 40.7311739], 'street': '63 Road', 'zipcode': '11374'}
borough: Queens
cuisine: Jewish/Kosher
grades: [{'date': datetime.datetime(2014, 11, 24, 0, 0), 'grade': 'Z', 'score': 20}, {'date': datetime.datetime(2013, 1, 17, 0, 0), 'grade': 'A', 'score': 13}, {'date': datetime.datetime(2012, 8, 2, 0, 0), 'grade': 'A', 'score': 13}, {'date': datetime.datetime(2011, 12, 15, 0, 0), 'grade': 'B', 'score': 25}]
name: Tov Kosher Kitchen
restaurant_id: 40356068

In [29]:
# insert new documents to existing collection
new_restaurants = [{"name": "fran restaurant", "cuisine": "spanish"}, {"name":"bego restaurant", "cuisine": "african"}]

db.restaurants.insert_many(new_restaurants)

In [30]:
# create new collection 
col = db["new_collection"]
# insert documents
col.insert_many(new_restaurants)

In [8]:
# update/ add values to documents in query
myquery = {"name": "Wendy'S"}
newvalues = {"$set": {"name": "Wendys"}}

x = db.restaurants.update_many(myquery, newvalues)

print(x.modified_count, "documents updated.")

82 documents updated.